{% extends 'base.html' %}

{% block page_style %}
<style>

</style>
{% endblock %}

{% block page %}
<div class="my-2 posts p-2 rounded d-flex flex-column align-items-center justify-content-center">
    <form action="." class="w-50 border rounded p-3 d-flex flex-column align-items-center" method="post">
        {% csrf_token %}
        <div class="fs-2 text-primary">LOGIN</div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="@user.name">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
        <label for="bio">Biografia</label>
        <input type="text" name="bio" id="bio" placeholder="Uma biografia breve">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Crie uma senha">
        <button class="btn btn-primary w-100 my-2">Criar Conta</button>
        <a href="" class="btn btn-secondary w-100">Voltar</a>
    </form> 
</div>
{% endblock %}

{% block page_script %}

<script>
    window.onload = () => {
        document.querySelectorAll("p").forEach(p => { p.className = "w-100 my-2"})
        document.querySelectorAll("label").forEach(lb => { lb.className = "form-label w-100"})
        document.querySelectorAll("input").forEach(input => { input.className = "form-control w-100"})
    }
</script>
{% endblock %}